@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: #031022;
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 11;

}
h3{
  font-size: 30px;
  color: aliceblue;
  font-family: Outfit , sans-serif;
  cursor: pointer;
}
ul{
  list-style: none;
  display: flex;
 
}
li{
  padding: 0px 8px;
  margin: 0px 8px;
  font-family: Outfit , sans-serif;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 padding-top: 10%;
 padding-bottom: 8%;
  background-color: #04152D;
}

.hero{
  /* border: 2px solid red; */
  padding: 1rem;
  width: 50%;
  text-align: center;
}
.hero h1{
  font-size: 70px;
  color: white;
  font-family: Raleway , sans-serif;
  margin-bottom: 0.25rem;
}
.hero p{
   font-size: 20px;
   color: white;
   font-family: Raleway , sans-serif;
   margin-bottom: 1.5rem;
}

.search{
  width: 80%;
  margin: 0px auto;
  /* padding: 0.5rem; */
  display: flex;
  font-family: Outfit , sans-serif;
}
.search input, .search .btn{
  height: 50px;
  border: 1px solid #e1e1e1;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 18px;
  outline: none;
}
.search input{
  width: 80%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.search .btn{
  width: 20%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
  color: #fff;
}
.display-container , .searchResult-container{
  padding: 2rem 12%;
  background-color: #04152D;
  color: white;
  font-family: Outfit , sans-serif;
  width: 100%;
}
.display-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0px 0.75rem;
}
.toggle {
  display: flex;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem;
  border-radius: 30px;
  justify-content: space-between;
  position: relative;
}


.toggle{
  display: flex;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem ;
  border-radius: 30px;
  justify-content: space-between;

}
.toggle .toggle-option{
  padding: 0.35rem 1rem;
  border-radius: 20px;
  color: #04152D;
  cursor: pointer;
  transition: opacity 0.5s, color 0.5s ;
}
.toggle .toggle-option.active{
  background: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
  color: white;
}

.display-movies{
  display: flex; 
  /* gap: 0.5rem; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container{
  width: calc(20% - 12px);
  padding: 0.25rem;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
}
.image{
  width: 100%;
  /* height: 320px; */
  position: relative;
  margin-bottom: 1.5rem;

}
.image img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
 

}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #36333317;
  transition: all 0.3s;
  /* z-index: 4; */
}
.image .overlay:hover{
  background-color: #302e2e62;
}
.rating{
  width: 50px;
  position: absolute;
  bottom: -6%;
  background-color: #fff;
  border-radius: 50%;
  left: 2%;
  padding: 0.15rem;
}
.genre{
  position: absolute;
  right: 5%;
  bottom: 4%;
  display: flex;
  gap: 0.5rem;
  font-size: 14px;

}
.genre p{
  background-color: #DA2F68;
  padding: 0.25rem;
  border-radius: 5px;
}
.movie-info{
  margin-top: 2rem;
}
.movie-info p:first-of-type{
  font-size: 19px;
  margin-bottom: 0.5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.movie-info p:last-of-type{
  font-size: 15px;
  margin-bottom: 0.5rem;
  color: #767F8C;
}

.searchResult-container h1{
  margin-bottom: 2rem;
  font-family: Reddit Mono , sans-serif;
}